.App {
  text-align: center;
}


.stopwatch {
  background-color: lightblue;
  height: 200px;
  width: 50%;
  text-align: center;
  font-family: "Lucida Console", Courier, monospace;
  margin-left: 250px;
  border-radius: 2px;
  border-color: solid black;
}
